<form action="/todo" method="Post">
  <div class="input-group">
    <input type="text" name="name" placeholder="name" class='form-control'>
    <div class="input-group-item">
      <button type="submit" class="btn btn-success">create</button>
    </div>
  </div>

</form>